#tabel {
  border-color: collapse;
  width: 100%;
}

#tabel td,
#tabel th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabel tr:hover {
  background-color: #ddd;
}

#tabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

#title {
  text-align: center;
  display: inline-block;
}